<h1>ReplyToPosts#show</h1>
<% for r in @replies %>
  <div style="padding: 5px; margin: 5px; background-color: rgb(255, 255, 200);">
    <p>replied on <%= r.created_at %></p>
    <p><%= r.reply_string %></p>
    <form action="/match" method="post">
      <input type="text" name="reply_id" value="<%= r.id %>">
      <input type="submit" value="match">
    </form>
  </div>
<% end %>